body {
    background-color: #52a305
}

#name {
    color: maroon;
}

h1 {
    color: mintcream;
}

a {
    text-decoration: none;
}

a:link {
    color: #FF0000;
}

a:hover {
    color: #FF00FF;
}


/* selected link */

a:active {
    color: #0000FF;
}

dt {
    color: yellow;
}